body {
    margin: 0;
    padding: 0;
    padding-top: 10px;
}

/* Hero Image */
.nav img {
    /* Sizing */
    min-width: 200px;
    max-width: 200px;
    
}


.nav {

    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}